@model JBPTicketsApp.Models.Entities.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <main class="d-flex justify-content-center align-items-center" style="width: 100vw; height: 100vh;">
        <div class="container">
            <div class="card mx-auto" style="max-width:456px">
                <div class="card-header">
                    <h2 class="card-title">Registrarse</h2>
                </div>

                <div class="card-body">
                    <form asp-action="Registrarse" asp-controller"Inicio" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <input type="text" placeholder="Ingrese nombre completo" class="form-control" asp-for="NombreUsuario" />
                            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input type="email" placeholder="Ingrese el correo" class="form-control" asp-for="Correo" required />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input type="password" placeholder="Ingrese la contraseña" class="form-control" asp-for="Clave" />
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit">Registrarse</button>
                        </div>
                        <div class="mb-3">
                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    <strong>@ViewData["Mensaje"]</strong>
                                </div>
                            }
                        </div>

                        <strong>¿Ya tienes una cuenta?</strong>
                        <a asp-action="IniciarSesion" asp-controller="Inicio">Iniciar Sesión</a>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
