html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table thead th{
    text-align: center;
}

.pagos-sec{
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    transition: .3s ease;
}

.hide-side {
    transform: translateX(100%);
}

.show-side {
    transform: translateX(0);
}

.ticket-state{
    padding: 5px;
    border-radius: 8px;
    color: #fff;
}

.pagado {
    background-color: #5CB338;
}

.pendiente {
    background-color: #C62300;
}

.abonado{
    color: #333;
    background-color: #FFC145;
}